services:
  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    configs:
      - source: init_sql
        target: /docker-entrypoint-initdb.d/init.sql
  agentnetwork:
    build:
      context: https://github.com/habiliai/agentruntime.git
      dockerfile: cmd/agentnetwork/Dockerfile
    entrypoint: ["sh", "-ce"]
    command:
      - |
        ./agentnetwork serve
    restart: always
    ports:
      - 9080:9080
    environment:
      LOG_LEVEL: debug
      HOST: 0.0.0.0
      PORT: 9080
      DATABASE_URL: postgres://postgres:postgres@postgres.local:5432/postgres?sslmode=disable&search_path=agentruntime
    links:
      - postgres:postgres.local

volumes:
  pgdata:
configs:
  init_sql:
    content: |
      CREATE DATABASE test;